# IBM Data Science on Coursera -  Applied Data Science Capstone
## Week 3 - Part 1: Scrape neighborhood information from Wikipedia

Build a pandas dataframe with the postal codes of each Toronto Neighborhood / Borough. Postal code information scraped from Wikipedia, and then cleaned up.

### Let's start by installing and importing all the libraries we need.

In [1]:
!pip install pandas -U
import pandas as pd
from pandas.io.json import json_normalize
print("\n*** Pandas Installed, Updated, & Imported\n")
print("\n*** JSON_normalize Imported\n")

!pip install numpy -U
import numpy as np
print("\n*** NumPy Installed, Updated, & Imported\n")

import requests
import urllib.request
print("\n*** Requests Imported\n")

import random
print("\n*** Random Imported\n")

!pip install geopy -U
from geopy.geocoders import Nominatim
print("\n*** Geopy Installed, Updated, & Imported\n")
print("\n*** Nominatim Imported\n")

!pip install ipython -U
from IPython.display import Image
from IPython.core.display import HTML
print("\n*** IPython Installed, Updated, & Imported\n")
print("\n*** Image & HTML Imported\n")

!pip install folium -U
import folium
print("\n*** Folium Installed, Updated, & Imported\n")

!pip install BeautifulSoup4 -U
from bs4 import BeautifulSoup

Requirement already up-to-date: pandas in c:\users\alexi\anaconda3\lib\site-packages (1.0.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\alexi\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\alexi\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\alexi\anaconda3\lib\site-packages (from pandas) (1.18.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\alexi\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

*** Pandas Installed, Updated, & Imported


*** JSON_normalize Imported

Requirement already up-to-date: numpy in c:\users\alexi\anaconda3\lib\site-packages (1.18.3)

*** NumPy Installed, Updated, & Imported


*** Requests Imported


*** Random Imported

Requirement already up-to-date: geopy in c:\users\alexi\anaconda3\lib\site-packages (1.21.0)
Requirement already satisfied, skipping upgrade: geographiclib<2,>=1.49 in c:\users\alexi\anaconda3\lib\site-packages (from geopy) (1.50)

*** Geopy Installed, Updated, & Imported


*** Nominatim Imported

Requirement already up-to-date: ipython in c:\users\alexi\anaconda3\lib\site-packages (7.13.0)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (46.1.3.post20200330)
Requirement already satisfied, skipping upgrade: colorama; sys_platform == "win32" in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (0.4.3)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (3.0.4)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (0.7.5)

*** IPython Installed, Updated, & Imported
Requirement already satisfied, skipping upgrade: decorator in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (4.4.2)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (0.15.2)
Requirement already satisfied, skipping upgrade: backcall in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (0.1.0)
Requirement already satisfied, skipping upgrade: pygments in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (2.6.1)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in c:\users\alexi\anaconda3\lib\site-packages (from ipython) (4.3.3)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\alexi\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.1.9)
Requirement already satisfied, skipping upgrade: parso>=0.5.2 in c:\users\alexi\anaconda3\lib\site-packages (from jedi>=0.10->ipython) (0.5.2)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\alexi\anaconda3\lib\site-packages (from traitlets>=4.2->ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: six in c:\users\alexi\anaconda3\lib\site-packages (from traitlets>=4.2->ipython) (1.14.0)


*** Image & HTML Imported

Requirement already up-to-date: folium in c:\users\alexi\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied, skipping upgrade: requests in c:\users\alexi\anaconda3\lib\site-packages (from folium) (2.23.0)
Requirement already satisfied, skipping upgrade: branca>=0.3.0 in c:\users\alexi\anaconda3\lib\site-packages (from folium) (0.4.0)
Requirement already satisfied, skipping upgrade: numpy in c:\users\alexi\anaconda3\lib\site-packages (from folium) (1.18.3)
Requirement already satisfied, skipping upgrade: jinja2>=2.9 in c:\users\alexi\anaconda3\lib\site-packages (from folium) (2.11.1)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\alexi\anaconda3\lib\site-packages (from requests->folium) (2.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\alexi\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alexi\anaconda3\lib\site-packages (from requests->folium) (1.25.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\alexi\anaconda3\lib\site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: six in c:\users\alexi\anaconda3\lib\site-packages (from branca>=0.3.0->folium) (1.14.0)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\alexi\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)

*** Folium Installed, Updated, & Imported

Requirement already up-to-date: BeautifulSoup4 in c:\users\alexi\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied, skipping upgrade: soupsieve>1.2 in c:\users\alexi\anaconda3\lib\site-packages (from BeautifulSoup4) (2.0)

### Scrape data from Wikipedia w/ BeautifulSoup

Using BeautifulSoup, we scrape the wikipedia page, looking through the code for the table containing our data. There are several tables available, however the one containing our Postal Code / Borough / Neighborhood information is the "sortable wikitable". Let's isolate it.

In [67]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, "lxml")

In [68]:
table = soup.find('table', class_='wikitable sortable')

### Parse table, & append to Pandas DF

We're parsing the "sortable wikitable" and extracting each cell on each row. The cells are appended to their own lists. Then, a pandas dataframe is initialized using the data in the lists to populate each column.

In [71]:
PostalCode = []
Borough = []
Neighborhood = []

for row in table.findAll("tr"):
    cells = row.findAll("td")
    if len(cells) == 3:
        PostalCode.append(cells[0].find(text = True))
        Borough.append(cells[1].find(text = True))
        Neighborhood.append(cells[2].find(text = True))

In [72]:
df = pd.DataFrame(PostalCode, columns=["PostalCode"])
df["Borough"] = Borough
df["Neighborhood"] = Neighborhood

### Cleanup & Formatting

Let's see what we've scraped up. We notice there are a lot of **\n (newline)** characters, **empty cells** and **Not assigned** cells. These all need to be cleaned up. Otherwise it looks like it picked up all of the postal codes (from M1A to M9Z) and the corresponding Boroughs, and Neighborhoods.

In [76]:
df

,PostalCode,Borough,Neighborhood
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,Regent Park / Harbourfront\n
...,...,...,...
175,M5Z\n,Not assigned\n,\n
176,M6Z\n,Not assigned\n,\n
177,M7Z\n,Not assigned\n,\n
178,M8Z\n,Etobicoke\n,Mimico NW / The Queensway West / South of Bloo...
179,M9Z\n,Not assigned\n,\n

In [77]:
df.shape

(180, 3)

In [78]:
df.dtypes

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [80]:
# Remove \n (newline) characters, & replace Not Assigned with NAN
df = df.replace(r'\n',  ' ', regex=True)
df = df.replace(r'Not assigned', np.nan, regex=True)

In [81]:
# Drop NAN rows
df.dropna(axis = 0, how = "any", inplace = True)

In [82]:
df

,PostalCode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

### Grouping the dataframe

Now, let's group the dataframe by Postal Code, & Borough. At the same time, we will be replacing the backslashes with comas.

In [86]:
df_grouped = df.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df_grouped = df_grouped.replace(r' / ',  ', ', regex=True)

In [87]:
df_grouped

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,Northwest

In [85]:
df_grouped.shape

(103, 3)

## Week 3 - Part 2: Adding Geospatial Data to our dataframe

Let's start by getting the lat, lon for these postal codes. We're going to be using the .csv file instead of fiddling about with geocoder.

In [58]:
coords = pd.read_csv("https://cocl.us/Geospatial_data")
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Concatenate the Coordinates, and the Postal Codes dataframe

In [88]:
df_grp_coords = pd.concat([df_grouped, coords], axis=1, sort=False)
df_grp_coords = df_grp_coords.drop(columns = ["Postal Code"])
df_grp_coords

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054